/* ROOT */
:root {
  --main-font-family: "Public Sans", "Arial", sans-serif;
  --main-font-weight: 700;
  --main-regular-font-weight: 400;
  --main-DM-font-family: "DM Serif Display", "Times New Roman", serif;
  --main-body-bg-color: #edf3f8;
  --main-text-color: #36536b;
  --main-desc-color: #6c8294;
  --main-footer-bg-color: #1b262f;
  --main-link-bg-color: #ba4270;
  --main-link-hover-bg: #da6d97;
  --main-white-text-color: #fbfcfe;
  --clr-primary-100:#ba4270;
  --clr-primary-200:#da6d97;
  --clr-secondary-100:#36536b;
  --clr-secondary-200:#1b262f;
  --clr-light-100:#fbfcfe;
  --clr-light-200:#6c8294;
  --fz-100:15px;
  --fz-200:16px;
  --fz-300:32px;
  --fz-400:48px;
  --fz-500:56px;
  --fw-100:400;
  --fw-200:700;
  --lh-100:18px;
  --lh-200:28px;
  --lh-300:25px;
  --lh-400:32px;
  --lh-500:40px;
  --lh-600:56px;
  --lh-700:72px;
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--main-body-bg-color);
}

a {
  display: inline-block;
  text-decoration: none;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn {
  padding: 12px 25px;
}

.btn-primary {
  background-color: var(--clr-primary-100);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 16px 25px;
  text-align: center;
  color: var(--clr-light-100);
  border-radius: 24px;
}
.btn-primary:hover {
  background-color: var(--clr-primary-200);
}
.btn-primary:disabled {
  background-color: var(--clr-primary-100);
}

.btn-light {
  font-weight: var(--fw-200);
  font-size: var(--fz-100);
  line-height: var(--lh-100);
  border-radius: 24px;
  border-color: var(--clr-secondary-100);
  color: var(--clr-secondary-100);
}
.btn-light:hover {
  background-color: var(--clr-secondary-100);
  color: var(--clr-light-100);
}

.fz-100 {
  font-size: 15px;
}

.fz-200 {
  font-size: 16px;
}

.fz-300 {
  font-size: 32px;
}

.fz-400 {
  font-size: 48px;
}

.fz-500 {
  font-size: 56px;
}

.fw-100 {
  font-weight: 400;
}

.fw-200 {
  font-weight: 700;
}

.lh-100 {
  line-height: 18px;
}

.lh-200 {
  line-height: 28px;
}

.lh-300 {
  line-height: 25px;
}

.lh-400 {
  line-height: 32px;
}

.lh-500 {
  line-height: 40px;
}

.lh-600 {
  line-height: 56px;
}

.lh-700 {
  line-height: 72px;
}

.clr-primary-100 {
  color: #ba4270;
}

.clr-primary-200 {
  color: #da6d97;
}

.clr-secondary-100 {
  color: #36536b;
}

.clr-secondary-200 {
  color: #1b262f;
}

.clr-light-100 {
  color: #fbfcfe;
}

.clr-light-200 {
  color: #6c8294;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 40px;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__navbar-window {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
  max-width: 300px;
  width: 100%;
  padding-top: 48px;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;
  background-color: var(--main-footer-bg-color);
  background-image: url("../../images/simple-circle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 40px) calc(50% - 500px);
  -webkit-animation-name: navbar-animation;
          animation-name: navbar-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar-open .site-header__navbar-window {
  display: block;
}

@-webkit-keyframes navbar-animation {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes navbar-animation {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.site-header__btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(251, 252, 254, 0.15);
}

.site-header__x-btn {
  display: inline-block;
  width: 22px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/X.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.site-header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 43px;
}

.site-header__nav {
  margin-bottom: 32px;
}

.site-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-header__nav-item {
  margin-bottom: 32px;
}
.site-header__nav-item:last-child {
  margin-bottom: 0;
}

.site-header__nav-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--main-white-text-color);
  opacity: 0.7;
}

.site-header__link {
  max-width: 252px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 14px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-text-color);
  background-color: var(--main-link-bg-color);
  border-radius: 24px;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.site-header__link:hover {
  background-color: var(--main-link-hover-bg);
}
.site-header__link:active {
  opacity: 0.5;
}

.site-header__burger {
  width: 28px;
  height: 17px;
  background-color: transparent;
  border: none;
  background-image: url("../../images/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 660px) {
  .site-header__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .site-header__navbar-window {
    position: static;
    display: block;
    max-width: none;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-left: 64px;
    height: auto;
    background-color: transparent;
    background-image: none;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .site-header__btnbox {
    display: none;
  }
  .site-header__navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-top: 0;
  }
  .site-header__nav {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .site-header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-header__nav-item {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .site-header__nav-item:last-child {
    margin-right: 0;
  }
  .site-header__nav-link {
    font-size: 15px;
    line-height: 18px;
    color: var(--main-text-color);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .site-header__nav-link:hover {
    opacity: 1;
  }
  .site-header__link {
    max-width: 173px;
    padding-top: 16px;
    padding-bottom: 14px;
  }
  .site-header__burger {
    display: none;
  }
}
.wrapper-bg {
  background-image: url("../../images/hero-bg-t.svg");
  background-position: calc(50% + 0px) calc(50% - 390px);
  background-repeat: no-repeat;
  background-size: 780px auto;
}

.hero {
  padding-top: 396px;
  padding-bottom: 80px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 573px;
  width: 100%;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-DM-font-family);
  font-weight: var(--main-regular-font-weight);
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: var(--main-text-color);
}

.site-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.site-email-input {
  max-width: 327px;
  width: 100%;
  padding-top: 16px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--main-text-color);
  background-color: var(--main-white-text-color);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}
.site-email-input::-webkit-input-placeholder {
  opacity: 0.5;
}
.site-email-input::-moz-placeholder {
  opacity: 0.5;
}
.site-email-input:-ms-input-placeholder {
  opacity: 0.5;
}
.site-email-input::-ms-input-placeholder {
  opacity: 0.5;
}
.site-email-input::placeholder {
  opacity: 0.5;
}
.site-email-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  outline: 1px solid #f00;
}
.site-email-input:not(:focus):not(:-ms-input-placeholder):invalid {
  outline: 1px solid #f00;
}
.site-email-input:not(:focus):not(:placeholder-shown):invalid {
  outline: 1px solid #f00;
}

.site-email__button {
  color: #f00;
}

.site-email-button {
  max-width: 327px;
  width: 100%;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-text-color);
  background-color: var(--main-link-bg-color);
  border-radius: 24px;
  border: none;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.site-email-button:hover {
  background-color: var(--main-link-hover-bg);
}
.site-email-button:active {
  opacity: 0.5;
}

.hero__minitext {
  margin-top: 24px;
  display: inline-block;
  font-weight: var(--main-regular-font-weight);
  font-size: 15px;
  line-height: 18px;
  color: var(--main-desc-color);
}

.hero__minitext-link {
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 18px;
  color: var(--main-desc-color);
}

@media only screen and (min-width: 660px) {
  .wrapper-bg {
    background-position: calc(50% + 0px) calc(50% - 470px);
    background-size: 949px auto;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 573px;
  }
  .hero__text {
    margin-bottom: 22px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }
  .site-email-form {
    position: relative;
    top: 0;
    left: 0;
    max-width: 445px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-email__input {
    padding-right: 60px;
  }
  .site-email-input {
    padding-right: 60px;
  }
  .site-email-button {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 173px;
    margin-top: 0;
  }
  .hero__minitext {
    margin-top: 16px;
  }
}
@media only screen and (min-width: 825px) {
  .wrapper-bg {
    background-image: url("../../images/hero-bg.svg");
    background-position: calc(50% + 440px) calc(50% - 60px);
    background-size: 780px auto;
  }
  .hero {
    padding-top: 152px;
    padding-bottom: 152px;
  }
  .hero__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__textbox {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 546px;
  }
  .hero__text {
    margin-bottom: 40px;
    font-size: 72px;
    line-height: 72px;
    text-align: start;
  }
  .hero__minitext {
    margin-left: 27px;
  }
}
.wrapper-bg {
  background-image: url("../../images/hero-bg-t.svg");
  background-position: calc(50% + 0px) calc(50% - 390px);
  background-repeat: no-repeat;
  background-size: 780px auto;
}

.hero {
  padding-top: 396px;
  padding-bottom: 80px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 573px;
  width: 100%;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-DM-font-family);
  font-weight: var(--main-regular-font-weight);
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: var(--main-text-color);
}

.site-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.site-email-input {
  max-width: 327px;
  width: 100%;
  padding-top: 16px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--main-text-color);
  background-color: var(--main-white-text-color);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}
.site-email-input::-webkit-input-placeholder {
  opacity: 0.5;
}
.site-email-input::-moz-placeholder {
  opacity: 0.5;
}
.site-email-input:-ms-input-placeholder {
  opacity: 0.5;
}
.site-email-input::-ms-input-placeholder {
  opacity: 0.5;
}
.site-email-input::placeholder {
  opacity: 0.5;
}
.site-email-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  outline: 1px solid #f00;
}
.site-email-input:not(:focus):not(:-ms-input-placeholder):invalid {
  outline: 1px solid #f00;
}
.site-email-input:not(:focus):not(:placeholder-shown):invalid {
  outline: 1px solid #f00;
}

.site-email__button {
  color: #f00;
}

.site-email-button {
  max-width: 327px;
  width: 100%;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-text-color);
  background-color: var(--main-link-bg-color);
  border-radius: 24px;
  border: none;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.site-email-button:hover {
  background-color: var(--main-link-hover-bg);
}
.site-email-button:active {
  opacity: 0.5;
}

.hero__minitext {
  margin-top: 24px;
  display: inline-block;
  font-weight: var(--main-regular-font-weight);
  font-size: 15px;
  line-height: 18px;
  color: var(--main-desc-color);
}

.hero__minitext-link {
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 18px;
  color: var(--main-desc-color);
}

@media only screen and (min-width: 660px) {
  .wrapper-bg {
    background-position: calc(50% + 0px) calc(50% - 470px);
    background-size: 949px auto;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 573px;
  }
  .hero__text {
    margin-bottom: 22px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }
  .site-email-form {
    position: relative;
    top: 0;
    left: 0;
    max-width: 445px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-email__input {
    padding-right: 60px;
  }
  .site-email-input {
    padding-right: 60px;
  }
  .site-email-button {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 173px;
    margin-top: 0;
  }
  .hero__minitext {
    margin-top: 16px;
  }
}
@media only screen and (min-width: 825px) {
  .wrapper-bg {
    background-image: url("../../images/hero-bg.svg");
    background-position: calc(50% + 440px) calc(50% - 60px);
    background-size: 780px auto;
  }
  .hero {
    padding-top: 152px;
    padding-bottom: 152px;
  }
  .hero__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__textbox {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 546px;
  }
  .hero__text {
    margin-bottom: 40px;
    font-size: 72px;
    line-height: 72px;
    text-align: start;
  }
  .hero__minitext {
    margin-left: 27px;
  }
}
.cooperation {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--main-footer-bg-color);
  background-image: url("../../images/simple-circle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) calc(50% - 535px);
  background-size: 780px 780px;
}

.cooperation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cooperation__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 456px;
  width: 100%;
}

.cooperation__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--main-DM-font-family);
  font-weight: var(--main-regular-font-weight);
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: var(--main-white-text-color);
}

.cooperation__desc {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: var(--main-regular-font-weight);
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: var(--main-white-text-color);
  opacity: 0.7;
}

.cooperation__link {
  max-width: 129px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 14px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-text-color);
  border: 1px solid var(--main-white-text-color);
  border-radius: 24px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}
.cooperation__link:hover {
  color: var(--main-footer-bg-color);
  background-color: #fff;
}
.cooperation__link:active {
  color: var(--main-white-text-color);
  background-color: transparent;
  opacity: 0.5;
}

.cooperation__imgbox {
  max-width: 280px;
  margin-bottom: 56px;
}

.cooperation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.cooperation__item {
  margin-bottom: 40px;
}
.cooperation__item:nth-child(5) {
  margin-bottom: 0;
}
.cooperation__item:nth-child(6) {
  margin-bottom: 0;
}

.cooperation__img--tesla {
  width: 107px;
  height: 15px;
}

.cooperation__img--microsoft {
  width: 120px;
  height: 26px;
}

.cooperation__img--hp {
  width: 115px;
  height: 22px;
}

.cooperation__img--oracle {
  width: 108px;
  height: 14px;
}

.cooperation__img--google {
  width: 79px;
  height: 27px;
}

.cooperation__img--nvidia {
  width: 113px;
  height: 22px;
}

@media only screen and (min-width: 600px) {
  .cooperation {
    padding-top: 88px;
    padding-bottom: 88px;
    background-position: calc(50% + 0px) calc(50% - 460px);
  }
  .cooperation__text {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
  }
  .cooperation__desc {
    margin-bottom: 32px;
  }
  .cooperation__imgbox {
    max-width: 536px;
    margin-bottom: 64px;
  }
  .cooperation__item {
    margin-bottom: 46px;
  }
  .cooperation__item:nth-child(4) {
    margin-bottom: 0;
  }
  .cooperation__img--tesla {
    width: 129px;
    height: 17px;
  }
  .cooperation__img--microsoft {
    width: 145px;
    height: 31px;
  }
  .cooperation__img--hp {
    width: 140px;
    height: 27px;
  }
  .cooperation__img--oracle {
    width: 131px;
    height: 17px;
  }
  .cooperation__img--google {
    width: 96px;
    height: 33px;
  }
  .cooperation__img--nvidia {
    width: 137px;
    height: 26px;
  }
}
@media only screen and (min-width: 1045px) {
  .cooperation {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: calc(50% - 540px) calc(50% - 200px);
  }
  .cooperation__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cooperation__textbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 445px;
    margin-right: 20px;
  }
  .cooperation__text {
    text-align: start;
  }
  .cooperation__desc {
    text-align: start;
  }
  .cooperation__imgbox {
    max-width: 536px;
    margin-bottom: 0;
  }
  .cooperation__item {
    margin-bottom: 39px;
  }
  .cooperation__item:nth-child(4) {
    margin-bottom: 0;
  }
}
.app-functions {
  padding-top: 80px;
  padding-bottom: 80px;
}

.app-functions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 80px;
  padding-left: 0;
  list-style: none;
}

.app-functions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}
.app-functions__item:nth-child(1) {
  margin-bottom: 80px;
  padding-top: 257px;
  background-image: url("../../images/code-img.svg");
  background-position: calc(50% + 20px) top;
  background-size: 401px auto;
}
.app-functions__item:nth-child(2) {
  padding-top: 368px;
  background-image: url("../../images/double-phone.svg");
  background-position: calc(50% + 10px) top;
  background-size: 328px auto;
}

.app-functions__textbox {
  max-width: 573px;
  width: 100%;
}

.app-functions__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-DM-font-family);
  font-weight: var(--main-regular-font-weight);
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--main-text-color);
}

.app-functions__desc {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--main-regular-font-weight);
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: var(--main-desc-color);
}

.app-functions__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.app-functions__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 328px;
  width: 100%;
}
.app-functions__info-item::before {
  display: inline-block;
  width: 106px;
  height: 106px;
  background-color: var(--main-text-color);
  border-radius: 50%;
  margin-bottom: 33px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.app-functions__info-item:nth-child(1)::before {
  background-image: url("../../images/personal-finance.svg");
}
.app-functions__info-item:nth-child(2)::before {
  background-image: url("../../images/banking-coverage.svg");
}
.app-functions__info-item:nth-child(3)::before {
  background-image: url("../../images/consumer-payments.svg");
}

@media only screen and (min-width: 600px) {
  .app-functions {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .app-functions__list {
    margin-top: 0;
    margin-bottom: 100px;
    padding-left: 0;
    list-style: none;
  }
  .app-functions__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
  }
  .app-functions__item:nth-child(1) {
    margin-bottom: 100px;
    padding-top: 298px;
    background-size: 401px auto;
  }
  .app-functions__item:nth-child(2) {
    background-size: 363px auto;
  }
  .app-functions__textbox {
    max-width: 573px;
    width: 100%;
  }
  .app-functions__text {
    font-size: 48px;
    line-height: 56px;
  }
}
@media only screen and (min-width: 1000px) {
  .app-functions {
    padding-top: 150px;
    padding-bottom: 96px;
  }
  .app-functions__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
    margin-bottom: 145px;
    padding-left: 0;
    list-style: none;
  }
  .app-functions__item {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-repeat: no-repeat;
  }
  .app-functions__item:nth-child(1) {
    max-width: 1015px;
    margin-bottom: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 60px;
    padding-bottom: 60px;
    background-position: calc(50% - 205px) calc(50% + 30px);
    background-size: 445px auto;
  }
  .app-functions__item:nth-child(2) {
    padding-top: 182px;
    padding-bottom: 182px;
    background-size: 566px auto;
    background-position: calc(50% + 255px) calc(50% - 0px);
  }
  .app-functions__textbox {
    max-width: 445px;
  }
  .app-functions__text {
    text-align: start;
  }
  .app-functions__desc {
    text-align: start;
  }
}
.wrapper-bg--about {
  background-image: url("../../images/simple-circle.svg");
  background-position: calc(50% + 330px) calc(50% - 370px);
}

.about-hero {
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom: 0;
}

.about-hero__title-wrap {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

.about-hero__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-DM-font-family);
  font-size: 32px;
  font-weight: var(--main-regular-font-weight);
  line-height: 36px;
  letter-spacing: -0.25px;
  color: var(--main-text-color);
}

@media only screen and (min-width: 660px) {
  .wrapper-bg--about {
    background-position: calc(50% + 510px) calc(50% - 350px);
  }
  .about-hero {
    margin-bottom: 54px;
  }
  .about-hero__title-wrap {
    max-width: 500px;
  }
  .about-hero__title {
    font-family: var(--main-DM-font-family);
    font-size: 40px;
    font-weight: var(--main-regular-font-weight);
    line-height: 45px;
    letter-spacing: -0.5px;
    color: var(--main-text-color);
  }
}
@media only screen and (min-width: 768px) {
  .wrapper-bg--about {
    background-position: calc(50% + 450px) calc(50% - 300px);
  }
  .about-hero__title-wrap {
    max-width: 573px;
  }
  .about-hero__title {
    font-family: var(--main-DM-font-family);
    font-size: 48px;
    font-weight: var(--main-regular-font-weight);
    line-height: 56px;
    letter-spacing: -0.37px;
    color: var(--main-text-color);
  }
}
@media only screen and (min-width: 992px) {
  .wrapper-bg--about {
    background-position: calc(50% + 450px) calc(50% - 300px);
  }
  .about-hero__title-wrap {
    max-width: 730px;
    margin-left: 85px;
    text-align: start;
  }
  .about-hero__title {
    font-family: var(--main-DM-font-family);
    font-size: 56px;
    font-weight: var(--main-regular-font-weight);
    line-height: 56px;
    letter-spacing: -0.37px;
    color: var(--main-text-color);
  }
}
.about-us__list {
  margin-top: 0px;
  margin-bottom: 76px;
  padding-left: 0px;
  list-style: none;
}

.about-us__item {
  text-align: center;
}
.about-us__item:first-child {
  margin-bottom: 48px;
}

.about-us__title {
  margin-top: 0;
  font-family: var(--main-DM-font-family);
  font-size: 24px;
  font-weight: var(--main-regular-font-weight);
  line-height: 32px;
  letter-spacing: -0.18px;
  color: var(--main-text-color);
  white-space: nowrap;
}

.about-us__descr {
  margin-top: 0;
  font-size: 15px;
  font-weight: var(--main-regular-font-weight);
  line-height: 28px;
  color: var(--main-desc-color);
}

.about-us__img {
  width: 100%;
  max-width: 1536px;
  max-height: 500px;
  margin: 0 auto;
}

@media only screen and (min-width: 660px) {
  .container {
    padding: 0px 40px;
  }
  .about-us__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
  }
  .about-us__title-wrap {
    width: 223px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .about-us__title {
    margin-right: 40px;
    font-family: var(--main-DM-font-family);
    font-size: 32px;
    font-weight: var(--main-regular-font-weight);
    line-height: 40px;
    letter-spacing: -0.25px;
    color: var(--main-text-color);
  }
}
@media only screen and (min-width: 992px) {
  .about-us {
    background-image: url("../../images/simple-circle.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 900px) calc(50% + 120px);
  }
  .about-us__list {
    margin-left: 85px;
  }
}
.statistics {
  margin-bottom: 48px;
  padding-top: 40px;
}

.statistics__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
.statistics__list::before {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #36536B;
  opacity: 0.25;
  content: "";
}
.statistics__list::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #36536B;
  opacity: 0.25;
  content: "";
}

.statistics__item {
  text-align: center;
}
.statistics__item:not(:last-child) {
  margin-bottom: 32px;
}

.statistics__name {
  margin-bottom: 0;
  font-weight: var(--main-regular-font-weight);
  line-height: 28px;
  color: var(--main-desc-color);
}

.statistics__number {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--main-DM-font-family);
  font-size: 56px;
  font-weight: var(--main-regular-font-weight);
  line-height: 72px;
  letter-spacing: -0.43px;
  color: #BA4270;
}

@media only screen and (min-width: 660px) {
  .statistics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .statistics__list::before {
    content: none;
  }
  .statistics__list::after {
    content: none;
  }
  .statistics__item {
    width: 100%;
    justify-self: start;
    text-align: start;
  }
  .statistics__item:not(:last-child) {
    margin-right: 10px;
  }
  .statistics__item::before {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 44px;
    background-color: #36536B;
    opacity: 0.25;
    content: "";
  }
  .statistics__item::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 16px;
    background-color: #36536B;
    opacity: 0.25;
    content: "";
  }
  .statistics__name {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .statistics {
    padding-top: 65px;
    background-image: url("../../images/simple-circle.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 900px) calc(50% - 300px);
  }
  .statistics__item:not(:last-child) {
    margin-right: 30px;
  }
  .statistics__item::before {
    margin-bottom: 16px;
  }
  .statistics__name {
    display: block;
  }
}
.culture__list {
  margin-top: 0px;
  margin-bottom: 76px;
  padding-left: 0px;
  list-style: none;
}

.culture__item {
  text-align: center;
}
.culture__item:first-child {
  margin-bottom: 48px;
}

.culture__title {
  margin-top: 0;
  font-family: var(--main-DM-font-family);
  font-size: 24px;
  font-weight: var(--main-regular-font-weight);
  line-height: 32px;
  letter-spacing: -0.18px;
  color: var(--main-text-color);
  white-space: nowrap;
}

.culture__descr {
  margin-top: 0;
  font-size: 15px;
  font-weight: var(--main-regular-font-weight);
  line-height: 28px;
  color: var(--main-desc-color);
}

@media only screen and (min-width: 660px) {
  .container {
    padding: 0px 40px;
  }
  .culture__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
  }
  .culture__title-wrap {
    width: 223px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .culture__title {
    margin-right: 40px;
    font-family: var(--main-DM-font-family);
    font-size: 32px;
    font-weight: var(--main-regular-font-weight);
    line-height: 40px;
    letter-spacing: -0.25px;
    color: var(--main-text-color);
  }
}
@media only screen and (min-width: 992px) {
  .culture__list {
    margin-left: 85px;
  }
}
.site-article {
  margin-bottom: 96px;
}

.site-article__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-article__title {
  font-family: var(--main-DM-font-family);
  font-size: 32px;
  font-weight: var(--main-regular-font-weight);
  line-height: 36px;
  letter-spacing: -0.2px;
  color: var(--main-text-color);
}

@media only screen and (min-width: 660px) {
  .site-article__title {
    font-family: var(--main-DM-font-family);
    font-size: 40px;
    font-weight: var(--main-regular-font-weight);
    line-height: 36px;
    letter-spacing: -0.2px;
    color: var(--main-text-color);
  }
}
@media only screen and (min-width: 992px) {
  .site-article__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-article__title {
    font-family: var(--main-DM-font-family);
    font-size: 48px;
    font-weight: var(--main-regular-font-weight);
    line-height: 56px;
    letter-spacing: -0.37px;
    color: var(--main-text-color);
  }
}
.pricing-wrapper-bg {
  background-image: url("../images/simple-circle.svg");
  background-size: 800px;
  background-position: top -600px left calc(50% + 500px);
  background-repeat: no-repeat;
}

.pricing-hero {
  padding-top: 100px;
  padding-bottom: 0;
}

.pricing-hero .hero__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-inline: auto;
}

.pricing-hero__text {
  margin-bottom: 80px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.pricing {
  margin-bottom: 80px;
}

.pricing__title {
  margin-bottom: 16px;
}

.pricing__price {
  letter-spacing: -2px;
}

.pricing__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  grid-gap: 20px;
  place-content: center;
  padding: 24px 0;
}

.pricing__wrapper__list {
  position: relative;
}
.pricing__wrapper__list::before, .pricing__wrapper__list::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--clr-secondary-100);
  opacity: 0.25;
  margin: 24px 0;
}

.pricing__wrapper__item {
  width: 50%;
  margin-left: 10%;
  opacity: 0.25;
}

.pricing__wrapper__item--enabled {
  position: relative;
  opacity: 1;
}

.pricing__wrapper__item--enabled::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -15%;
  width: 12px;
  height: 8px;
  background-image: url("../images/check.svg");
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=main.css.map */