/* ROOT */
:root {
  --main-font-family: "Public Sans", "Arial", sans-serif;
  --main-font-weight: 700;
  --main-regular-font-weight: 400;
  --main-DM-font-family: "DM Serif Display", "Times New Roman", serif;
  --main-body-bg-color: #edf3f8;
  --main-text-color: #36536b;
  --main-desc-color: #6c8294;
  --main-footer-bg-color: #1b262f;
  --main-link-bg-color: #ba4270;
  --main-link-hover-bg: #da6d97;
  --main-white-text-color: #fbfcfe;
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--main-body-bg-color);
}

a {
  display: inline-block;
  text-decoration: none;
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 40px;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__navbar-window {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  max-width: 300px;
  width: 100%;
  padding-top: 48px;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;
  background-color: var(--main-footer-bg-color);
  background-image: url("../../images/simple-circle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 40px) calc(50% - 500px);
  -webkit-animation-name: navbar-animation;
          animation-name: navbar-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar-open .site-header__navbar-window {
  display: block;
}

@-webkit-keyframes navbar-animation {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes navbar-animation {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.site-header__btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(251, 252, 254, 0.15);
}

.site-header__x-btn {
  display: inline-block;
  width: 22px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/X.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.site-header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 43px;
}

.site-header__nav {
  margin-bottom: 32px;
}

.site-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-header__nav-item {
  margin-bottom: 32px;
}
.site-header__nav-item:last-child {
  margin-bottom: 0;
}

.site-header__nav-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--main-white-text-color);
  opacity: 0.7;
}

.site-header__link {
  max-width: 252px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 14px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-text-color);
  background-color: var(--main-link-bg-color);
  border-radius: 24px;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.site-header__link:hover {
  background-color: var(--main-link-hover-bg);
}
.site-header__link:active {
  opacity: 0.5;
}

.site-header__burger {
  width: 28px;
  height: 17px;
  background-color: transparent;
  border: none;
  background-image: url("../../images/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 660px) {
  .site-header__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .site-header__navbar-window {
    position: static;
    display: block;
    max-width: none;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-left: 64px;
    height: auto;
    background-color: transparent;
    background-image: none;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .site-header__btnbox {
    display: none;
  }
  .site-header__navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-top: 0;
  }
  .site-header__nav {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .site-header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-header__nav-item {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .site-header__nav-item:last-child {
    margin-right: 0;
  }
  .site-header__nav-link {
    font-size: 15px;
    line-height: 18px;
    color: var(--main-text-color);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .site-header__nav-link:hover {
    opacity: 1;
  }
  .site-header__link {
    max-width: 173px;
    padding-top: 16px;
    padding-bottom: 14px;
  }
  .site-header__burger {
    display: none;
  }
}
.wrapper-bg {
  background-image: url("../../images/hero-bg-t.svg");
  background-position: calc(50% + 0px) calc(50% - 390px);
  background-repeat: no-repeat;
  background-size: 780px auto;
}

.hero {
  padding-top: 396px;
  padding-bottom: 80px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 573px;
  width: 100%;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-DM-font-family);
  font-weight: var(--main-regular-font-weight);
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: var(--main-text-color);
}

.site-email__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.site-email__input {
  max-width: 327px;
  width: 100%;
  padding-top: 16px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--main-text-color);
  background-color: var(--main-white-text-color);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}
.site-email__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.site-email__input::-moz-placeholder {
  opacity: 0.5;
}
.site-email__input:-ms-input-placeholder {
  opacity: 0.5;
}
.site-email__input::-ms-input-placeholder {
  opacity: 0.5;
}
.site-email__input::placeholder {
  opacity: 0.5;
}
.site-email__input:not(:focus):not(:-moz-placeholder-shown):invalid {
  outline: 1px solid #f00;
}
.site-email__input:not(:focus):not(:-ms-input-placeholder):invalid {
  outline: 1px solid #f00;
}
.site-email__input:not(:focus):not(:placeholder-shown):invalid {
  outline: 1px solid #f00;
}

.site-email__button {
  max-width: 327px;
  width: 100%;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-text-color);
  background-color: var(--main-link-bg-color);
  border-radius: 24px;
  border: none;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.site-email__button:hover {
  background-color: var(--main-link-hover-bg);
}
.site-email__button:active {
  opacity: 0.5;
}

.hero__minitext {
  margin-top: 24px;
  display: inline-block;
  font-weight: var(--main-regular-font-weight);
  font-size: 15px;
  line-height: 18px;
  color: var(--main-desc-color);
}

.hero__minitext-link {
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 18px;
  color: var(--main-desc-color);
}

@media only screen and (min-width: 660px) {
  .wrapper-bg {
    background-position: calc(50% + 0px) calc(50% - 470px);
    background-size: 949px auto;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 573px;
  }
  .hero__text {
    margin-bottom: 22px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }
  .site-email__form {
    position: relative;
    top: 0;
    left: 0;
    max-width: 445px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-email__input {
    padding-right: 60px;
  }
  .site-email__button {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 173px;
    margin-top: 0;
  }
  .hero__minitext {
    margin-top: 16px;
  }
}
@media only screen and (min-width: 825px) {
  .wrapper-bg {
    background-image: url("../../images/hero-bg.svg");
    background-position: calc(50% + 390px) calc(50% - 60px);
    background-size: 780px auto;
  }
  .hero {
    padding-top: 152px;
    padding-bottom: 152px;
  }
  .hero__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__textbox {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 546px;
  }
  .hero__text {
    margin-bottom: 40px;
    font-size: 72px;
    line-height: 72px;
    text-align: start;
  }
  .hero__minitext {
    margin-left: 27px;
  }
}/*# sourceMappingURL=main.css.map */