$fw-btn: 700;
$fz-btn: 15px;
$lh-btn: 18px;

button {
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--clr-primary-100);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  @include defaultBtn;
  &:hover {
    background-color: var(--clr-primary-200);
  }
  &:disabled {
    background-color: var(--clr-primary-100);
  }
}

.btn-light {
  
}
