$font-sizes:(
    100:15px,
    200:16px,
    300:32px,
    400:48px,
    500:56px
);

$font-weights:(
    100:400,
    200:700
);

$line-heights:(
    100:18px,
    200:28px,
    300:25px,
    400:32px,
    500:40px,
    600:56px,
    700:72px
)