@use "./helpers/colors" as *;
@use "./typography" as *;
/* ROOT */
:root{
    --main-font-family: "Public Sans", "Arial", sans-serif; 
    --main-font-weight: 700; 
    --main-regular-font-weight: 400;
    --main-DM-font-family: "DM Serif Display", "Times New Roman", serif; 
    --main-body-bg-color: #edf3f8; 
    --main-text-color: #36536b;
    --main-desc-color: #6c8294;
    --main-footer-bg-color: #1b262f;
    --main-link-bg-color: #ba4270;
    --main-link-hover-bg: #da6d97;
    --main-white-text-color: #fbfcfe;

    @each $type, $level in $colors{
        @each $prop, $color in $level{
            --clr-#{$type}-#{$prop}:#{$color};
        }
    }

    @each $prop,$size in $font-sizes{
        --fz-#{$prop}:#{$size};
    }

    @each $prop,$weight in $font-weights{
        --fw-#{$prop}:#{$weight};
    }

    @each $prop,$height in $line-heights{
        --lh-#{$prop}:#{$height};
    }
}