.about-services {
    padding-bottom: 80px;
}

// .about-services__inner {
// }

.about-services__info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include list-unstiled(0,0,0)
}

.about-services__info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 328px;
    width: 100%;
    margin-bottom: 48px;


    &::before{
        display: inline-block;
        width: 106px;
        height: 106px;
        background-color: var(--main-text-color);
        border-radius: 50%;
        margin-bottom: 33px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
    }

    &:nth-child(1){
        &::before{
            background-image: url("../images/personal-finance.svg");
        }
    }
    
    &:nth-child(2){
        &::before{
            background-image: url("../images/banking-coverage.svg");
        }
    }
    &:nth-child(3){
        margin-bottom: 0;
        &::before{
            background-image: url("../images/consumer-payments.svg");
        }
    }
}

.about-services__info-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--main-text-color);
}

.about-services__info-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--main-regular-font-weight);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--main-desc-color);    
}

@include mobile-first(690px){
    .about-services {
        padding-bottom: 100px;
    }
    .about-services__info-list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .about-services__info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 223px;
        margin-right: 10px;
        margin-bottom: 0;
    
    
        &::before{
            width: 88px;
            height: 88px;
        }
        &:nth-child(3){
            margin-right: 0;
        }
    }
}
@include mobile-first(768px){
    .about-services {
        padding-bottom: 96px;
    }
    .about-services__info-item {
        max-width: 350px;
    
        &::before{
            width: 106px;
            height: 106px;
        }
    }
}