.statistics {
    margin-bottom: 48px;
}

.statistics__list {
    @include list-unstiled(0px, 48px, 0px);

    &::before {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
        content: "";
    }

    &::after {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #36536B;
        opacity: 0.25;
        content: "";
    }
}

.statistics__item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.statistics__name {
    margin-bottom: 0;
    font-weight: var(--main-regular-font-weight);
    line-height: 28px;
    color: var(--main-desc-color);
}

.statistics__number {
    margin-top: 0;
    margin-bottom: 0;
    @include font-style(var(--main-DM-font-family), 56px, var(--main-regular-font-weight), 72px, -0.43px, #BA4270)
}

.statistics__text-list {
    @include list-unstiled(0px, 0px, 0px);
}

.statistics__text-item {
    text-align: center;

    &:first-child {
        margin-bottom: 48px;
    }
}

.statistics__title {
    margin-top: 0;
    @include font-style(var(--main-DM-font-family), 24px, var(--main-regular-font-weight), 32px, -0.18px, var(--main-text-color));
    white-space: nowrap;
}

.statistics__descr {
    margin-top: 0;
    font-size: 15px;
    font-weight: var(--main-regular-font-weight);
    line-height: 28px;
    color: var(--main-desc-color);
}

@include mobile-first(660px) {
    .statistics__list {
        display: flex;
        align-items: start;
        
        &::before {
            content: none;
        }

        &::after {
            content: none;
        }
    }

    .statistics__item {
        width: 100%;
        justify-self: start;
        text-align: start;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &::before {
            display: block;
            width: 100%;
            height: 1px;
            margin-bottom: 44px;
            background-color: #36536B;
            opacity: 0.25;
            content: "";
        }

        &::after {
            display: block;
            width: 100%;
            height: 1px;
            margin-top: 16px;
            background-color: #36536B;
            opacity: 0.25;
            content: "";
        }
    }

    .statistics__name {
        display: none;
    }

    .statistics__text-item{
        display: flex;
        align-items: start;
        text-align: start;
    }

    .statistics__title-wrap {
        width: 223px;
        flex-shrink: 0;
    }

    .statistics__title {
        margin-right: 40px;
        @include font-style(var(--main-DM-font-family), 32px, var(--main-regular-font-weight), 40px, -0.25px, var(--main-text-color))
    }
}

@include mobile-first(992px){

    .statistics{
        margin-bottom: 100px;
    }

    .statistics__item{
        &:not(:last-child){
            margin-right: 30px;
        }
        &::before{
            margin-bottom: 16px;
        }
    }

    .statistics__name{
        display: block;
    }

    .statistics__text-list{
        margin-left: 85px;
    }
}