.about-us{
    margin-bottom: 48px;
}

.about-us__img{
    width: 100%;
    max-width: 1536px;
    max-height: 500px;
    margin: 0 auto;
}

@include mobile-first(660px){
    .about-us{
        margin-bottom: 70px;
    }
}